@import "tailwindcss";
@import "@fontsource/poppins";
@import "@fontsource/nunito";

:root {
  --background: var(--snaptale-app-background);
  --foreground: #1D3557;
  /* Add new color variables */
  --primary: #13a4ec;
  --background-light: #f6f7f8;
  --background-dark: #101c22;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --font-sans: 'Poppins', sans-serif;
  --font-mono: 'Nunito', sans-serif;
  --font-display: var(--font-plus-jakarta-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); /* Apply the primary font to the body */
}

/* Add font-display class for Plus Jakarta Sans */
.font-display {
  font-family: var(--font-display);
}