@import "tailwindcss";
@import "@fontsource/poppins";
@import "@fontsource/nunito";

:root {
  --background: var(--snaptale-app-background);
  --foreground: #1D3557;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Poppins', sans-serif;
  --font-mono: 'Nunito', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); /* Apply the primary font to the body */
}
